.env
createHandout.sh
.env.prod
node_modules
generated
build

# stryker temp files
.stryker-tmp
reports

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
assets